$blue : rgb(57, 81, 192);
main {
  padding: 0px 25px 0px 25px;
}
.circle {
    width: 48px;
    height: 48px;
    margin: 0 -5px 3px 0;
    border-radius: 24px;
    border: solid 1px #707070;
    background-color: #dfdfdf;
  }
  .main .container-fluid {
    padding: 20px 20px 0px 20px;
    background-color: #fbfbfb;
    font-family: "Segoe UI";
  }
  .search {
    width: 300px;
    height: 45px;
    margin-left: 155px;
    // margin: -50px 0 0 900px;
    // padding: 10.9px 21.5px 10.9px 24px;
    border-radius: 24px;
    border: solid 1px #707070;
    background-color: #fff;
  }

.input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
    border-radius: 15px;
    font: 16px/16px;
}
.remarks{
  border-color: #2023da;
}
.buttons button{
  font-size: 12px;
}
.buttons{
    margin-top: 4rem;
    margin-bottom: 1rem;
}
.card-body {
    padding: 30px;
}
.modal-content {
  padding: 20px 25px;
}
.modal-header {
  border-bottom: 0 none;
  margin-bottom: 30px;
  .modal-title {
    font-weight: bold; 
    border-left: 4px solid rgb(57, 81, 192);            
    padding-left: 5px;
  }
}
.modal-footer {
  border-top: 0 none;
}
.modal-body {
  padding: 1.5rem;
}
.document-registration {
    padding: 5px 10px;
    margin-bottom: 3rem;
}
.document-summary-i {
    padding: 5px 10px;
    margin-bottom: 2rem;
    p {
      width: 4px; 
      height: 25px;
      border-radius: 3px; 
      background: $blue;
    }
}
.registered-document {
    border-bottom: 2px solid #707070;
    margin: 0px 5px 1rem 2px;
    h4 {
        font-family: "Segoe UI";
        font-weight: 600;
    }
    .col-sm-3 {
        padding-top: 15px;
    }
}