.propertyHeading::before {
  content: "";
  display: block;
  width: 3px;
  height: 20px;
  background: #0707c1;
  left: -10px;
  top: 5%;
  position: absolute;
  border-radius: 6px;
}
.propertyHeading{
  position: relative;
}

.ec_search_result_card{
  margin: 30px 20px;
  padding: 20px;
  box-shadow: 0px 0px 6px 1px #c9c9c9;
  border-radius: 4px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
visibility: visible;
  opacity: 1;
}


.popup {
  margin: 8% 30%;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  top: 20%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){

  .popup{
    width: 70%;
  }
}
