.mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100vw !important;
    // height: 100%;
    // min-height: inherit;
    // max-height: inherit;
    // top: 320px;
    // left: 458px;
    // width: 1031px;
    // height: 443px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    opacity: 1;
}