<app-header  [navbarBrandRouterLink]="['']" [fixed]="true"
[navbarBrandFull]="{src: 'assets/img/avatars/NoPath.png', width: '70', height: '70'}"
[navbarBrandMinimized]="{src: 'assets/img/avatars/government-of-karnataka-logo-1000x500.png', width: '40', height: '40'}" [sidebarToggler]="'lg'"
[asideMenuToggler]="'lg'">

  <img src="assets/img/avatars/government-of-karnataka-logo-1000x500.png" class="img-avatar" style="float:left;margin-left:-80px" />
  <span class="Kaveri">Kaveri Online Services</span>
  <span class="Dept">Department of Stamps and Registration,Government of Karnataka</span>
  <ul class="nav navbar-nav ml-auto">
    <!-- <li class="nav-item d-md-down-none">
      <a class="nav-link"><img src="assets/img/avatars/avatar-blank.jpg" class="img-avatar" alt="" /></a>
    </li> -->
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <span>Hello, {{loggedinUser}}&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/img/avatars/avatar-blank.jpg" class="img-avatar" alt="" /></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a class="dropdown-item"><i class="fa fa-user"></i>Edit Profile</a>
        <!--<a class="dropdown-item"><i class="fa fa-wrench"></i> Setting</a>-->
        <a class="dropdown-item" href="#" routerLink="/change-password"><i class="fa fa-lock"></i>Change Password</a>
      </div>
    </li>
    
    <li class="nav-item d-md-down-none">
      <a class="nav-link"><img src="assets/img/avatars/bell.png" alt=""></a>
      </li>
     <li class="nav-item d-md-down-none">
    <button type="button" style="background-color: #0a429b;" class="btn btn-block btn-primary active" routerLink="/landing-page" aria-pressed="true">Logout</button>
    </li>
  </ul>
       
</app-header>      

  <main class="main">

    <div class="container-fluid" style="background-color: #fbfbfb;padding-top: 0px 0px 0px 0px!important;">
      <div class="row" style="margin-left: -80px;margin-top: 50px;margin-right: -25px;">
        <div class="col-md-3"></div>
        <div  class="col-md-6">
          <div class="card" style="margin-bottom: 30px;">
              <div class="card-header"
                  style="background-color: #05265b;color: white;font-weight: 500;border-radius: 5px;">
                  <span>Reset Password</span>
                  </div>
                  <div class="card-body">
                      <div class="row">
                          <div class="col-md-5">
                            <br><br><br><br><br>
                          <img src="assets/img/avatars/resetpass.png" >
                          </div>
                          <div class="col-md-1">
                            <img src="assets/img/avatars/resetpass1.png" >
                            </div>
                          <div class="col-md-6" style="margin-top: 30px; margin-left: -20px;">
                            <form  [formGroup]="changePasswordForm" class="form-horizontal" >
                              <!-- <div class="row"></div>
                              <br><br> -->
                              <div class="form-group">
                                  <label for="oldpass">Old Password<label style="color: red;">*</label></label>
                                  <input type="password" id="oldpass" name="oldpass" class="form-control" formControlName="oldpass" placeholder="Value" style="background-color: white;" [ngClass]="{ 'is-invalid': submitted && f.oldpass.errors }" required >
                                  <div *ngIf="submitted && f.oldpass.errors" class="invalid-feedback">
                                    <div *ngIf="f.oldpass.errors.required">Old Password is required</div>
                                  </div>
                              </div><br>
                              <div class="form-group">
                                  <label for="newpass">New Password<label style="color: red;">*</label> </label>&nbsp;
                                  <input type="password" id="newpass" name="newpass" class="form-control" formControlName="newpass"  placeholder="Value" style="background-color: white;" [ngClass]="{ 'is-invalid': submitted && f.newpass.errors }" required>
                                  <img src="assets/img/avatars/passinfo.png"/>
                                  <div *ngIf="submitted && f.newpass.errors" class="invalid-feedback">
                                    <div *ngIf="f.newpass.errors.required">New Password is required</div>
                                  </div>
                                  <span style="color:red;font-size: 12px;">{{samepassword}}</span>
                              </div><br>  
                              <div class="form-group">
                                  <label for="confirmpass">Re-Enter New Password<label style="color: red;">*</label></label>
                                  <input type="password" id="confirmpass" name="confirmpass" class="form-control" formControlName="confirmpass"  (change)="checkpass();" placeholder="Value" style="background-color: white;"  [ngClass]="{ 'is-invalid': submitted && f.confirmpass.errors }" required >
                                <div *ngIf="submitted && f.confirmpass.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmpass.errors.required">Password Confirmation is required</div>
                              </div>
                              <span style="color:red;font-size: 12px;">{{passcheck}}</span>
                            </div>
                              <br>
                              <!-- <div class="row"></div>
                              <br><br> -->
                              <div class="form-group">
                                  <button type="button" class="btn btn-primary col-md-5" style="background-color: #ffffff; color: blue;" (click)="resetform();" >Reset</button>
                                  <button type="button" class="btn btn-primary offset-md-2 col-md-5" style="background-color: #0a429b;" (click)="onSubmit();">Change</button>
                                </div><br>
                                <dx-toast [(visible)]="isVisible" [type]="type" [message]="message">
                                </dx-toast>
                              </form>
                          </div>
                      </div>

              </div>
          </div>
      </div>
      <div class="col-md-3"></div>
    </div>
    </div>
  </main>

  <app-footer style="background-color: #05265b;color: white;">
    <div class="row" style="margin-top: 20px;margin-left: 10px;">
      <div class="col-md-6">
        <img src="assets/img/avatars/footer.png">
        <!-- <img src="assets/img/avatars/government-of-karnataka-logo-1000x500.png">
                <span style="color: white;">Kaveri Online Services</span>
                <span style="color: white;">Department of Stamps and Registration,Government of Karnataka</span> -->
      </div>
      <div class="col-md-2">
        <h3 style="font-weight: 500;">Follow Us</h3>
      </div>
      <div class="col-md-2">
        <h3 style="font-weight: 500;">Contact Us</h3>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-6"></div>
      <div class="col-md-2" style="margin-left: -50px;margin-top: -20px;">
        <img src="assets/img/avatars/Group 153.png" style="margin-left: 10px;cursor: pointer;">
        <img src="assets/img/avatars/Group 154.png" style="margin-left: 10px;cursor: pointer;">
        <img src="assets/img/avatars/Group 155.png" style="margin-left: 10px;cursor: pointer;">
        <img src="assets/img/avatars/Group 156.png" style="margin-left: 10px;cursor: pointer;">
      </div>
      <div class="col-md-2" style="margin-left: 50px;margin-top: -20px;">
        <span>8th floor, Kandaya Bhavan,</span><br>
        <span>K.G. Road, Bengaluru-560009</span><br><br>
  
        <span>Ph. No. 080-22220979</span>
      </div>
      <div class="col-md-2" style="margin-top: -20px;">
        <span>sd1.igro@karnataka.gov.in</span><br>
        <span>sd2.igro@karnataka.gov.in</span><br>
        <span>sd3.igro@karnataka.gov.in</span><br>
        <span>sd4.igro@karnataka.gov.in</span>
      </div>
  
    </div><br>
  </app-footer>
  <app-footer style="background-color: #34373d;z-index: 1020;height: 50px;border: 1px solid #34373d;">
    <div class="row" style="margin-left: 10px;">
      <div class="col-xs-2">
        <span></span>
      </div>
      <div class="col-xs-1">
        <span class="ftrs">Accessibility Statement&emsp;|</span>
      </div>
      <div class="col-xs-1">
        <span class="ftrs">&emsp;Terms & Conditions&emsp;|</span>
      </div>
      <div class="col-xs-1">
        <span class="ftrs">&emsp;Website Policies&emsp;|</span>
      </div>
      <div class="col-xs-1">
        <span class="ftrs">&emsp;Help&emsp;|</span>
      </div>
      <div class="col-xs-1">
        <span class="ftrs">&emsp;Feedback&emsp;|</span>
      </div>
      <div class="col-xs-1">
        <span class="ftrs">&emsp;Contact Us&emsp;|</span>
      </div>
      <div class="col-xs-1">
        <span class="ftrs">&emsp;Web Information Manager&emsp;|</span>
      </div>
      <div class="col-xs-1">
        <span class="ftrs">&emsp;FAQ&emsp;|</span>
      </div>
      <div class="col-xs-1">
        <span class="ftrs">&emsp;Sitemap&emsp;|</span>
      </div>
      <div class="col-xs-1">
        <span class="ftrs">&emsp;Visitors Analytics</span>
      </div>
      <!-- <div class="col-xs-1">
        </div> -->
    </div>
  </app-footer>
  <app-footer style="height: 50px;background-color: #fbfbfb;z-index: 1020;">
    <div class="row" style="margin-left: 10px;">
      <span style="color: black;">©2021, Department of Stamps and Registration, Karnataka</span>
    </div>
  </app-footer>