.propertyHeading::before {
  content: "";
  display: block;
  width: 3px;
  height: 20px;
  background: #0707c1;
  left: -10px;
  top: 5%;
  position: absolute;
  border-radius: 6px;
}
.propertyHeading{
  position: relative;
}

.ec_search_result_card{
  margin: 30px 20px;
  padding: 20px;
  box-shadow: 0px 0px 6px 1px #c9c9c9;
  border-radius: 4px;
}
