<app-header  [navbarBrandRouterLink]="['']" [fixed]="true"
[navbarBrandFull]="{src: 'assets/img/avatars/NoPath.png', width: '70', height: '70'}"
[navbarBrandMinimized]="{src: 'assets/img/avatars/government-of-karnataka-logo-1000x500.png', width: '40', height: '40'}" [sidebarToggler]="'lg'"
[asideMenuToggler]="'lg'">

  <img src="assets/img/avatars/government-of-karnataka-logo-1000x500.png" class="img-avatar" style="float:left;margin-left:-80px" />
  <span class="Kaveri">Kaveri Online Services</span>
  <span class="Dept">Department of Stamps and Registration,Government of Karnataka</span>
  <ul class="nav navbar-nav ml-auto">
    <!-- <li class="nav-item d-md-down-none">
      <a class="nav-link"><img src="assets/img/avatars/avatar-blank.jpg" class="img-avatar" alt="" /></a>
    </li> -->
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <span>Hello, {{loggedinUser}}&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/img/avatars/avatar-blank.jpg" class="img-avatar" alt="" /></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a class="dropdown-item"><i class="fa fa-user"></i>Edit Profile</a>
        <!--<a class="dropdown-item"><i class="fa fa-wrench"></i> Setting</a>-->
        <a class="dropdown-item" href="#" routerLink="/change-password"><i class="fa fa-lock"></i>Change Password</a>
      </div>
    </li>
    
    <li class="nav-item d-md-down-none">
      <a class="nav-link"><img src="assets/img/avatars/bell.png" alt=""></a>
      </li>
     <li class="nav-item d-md-down-none">
    <button type="button" style="background-color: #0a429b;" class="btn btn-block btn-primary active" routerLink="/landing-page" aria-pressed="true">Logout</button>
    </li>
  </ul>
        <dx-tabs style="width: 100%;margin-top: 130px;position: fixed">
            <dxi-item>
                <a href="#" routerLink="/dashboard" ></a>
                <span>Home</span>
            </dxi-item>
            <dxi-item>
                <span>About Department</span>
            </dxi-item>
            <dxi-item>
                <span>Resources</span>
            </dxi-item>
            <dxi-item>
                <span>Links</span>
            </dxi-item>
            <dxi-item>
                <span>External Links</span>
            </dxi-item>
            <dxi-item>
                <span>Help</span>
            </dxi-item>
        </dx-tabs> 
</app-header>    
   
<main class="main"> 
    <div class="container-fluid" style="background-color: #fbfbfb;padding-top: 0px 0px 0px 0px!important;">
      
      <div class="animated fadeIn">
         
       <div class="row" style="margin-left: -80px;margin-top: 80px;margin-right: -25px;">
        <div class="col-md-12">
            <div class="card">
               
                <div class="card-body">
                    <div>
                        <img src="assets/img/avatars/Group 417.png" style="cursor: pointer;" routerLink="/e-aasthi"><br>
                    </div>
                    <div>
                        <img src="assets/img/avatars/Hello.png" style="width: 150px;height:95px">
                        <img src="assets/img/avatars/view-property.png">
                    </div><br>
                    <!-- <div class="row">
                        <div class="col-md-3">
                            <label for="district" style="font-weight: bold;">DISTRICT : BENGALURU(RURAL)</label>
                        </div>
                        <div class="col-md-3">
                            <label for="taluka" style="font-weight: bold;">TALUKA : DEVANAHALLI</label>
                        </div>
                        <div class="col-md-3">
                            <label for="hobli" style="font-weight: bold;">HOBLI/TOWN : VIJAYAPURA</label>
                        </div>
                        <div class="col-md-3">
                            <label for="village" style="font-weight: bold;">INDEX II: VILLAGE : KOMMASANDRA</label>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-12">
                            <label for="pid" style="font-weight: bold;">PID NO. : {{propertyIdNumber}}</label>
                        </div>
                    </div>
                    <br><br>
                    <iframe id="pdfViewer" width="100%" height="1300px" ></iframe>
                    {{pdf}}
                    <br><br>
                    
                    <!-- <button (click)="PropertyDocView()">PDF</button> -->
                    <!-- <dx-data-grid #grid
          id="grid-container"
          [dataSource]="employees"
          keyExpr="ID"
          [showBorders]="true">    
      
          <dxo-selection
              mode="multiple">
          </dxo-selection>
        
          <dxi-column dataField="" caption="Results" [groupIndex]="0" [width]="70"></dxi-column>
          <dxi-column dataField="FirstName" caption="S.No"  [width]="70"></dxi-column>
          <dxi-column dataField="LastName" caption="Property ID" [width]="200"></dxi-column>
          <dxi-column dataField="Position" caption="Property Description" [width]="250"></dxi-column>
          <dxi-column dataField="BirthDate" caption="Buyer Name" dataType="date" [width]="220"></dxi-column>
          <dxi-column dataField="HireDate" caption="Seller Name" dataType="date" [width]="220"></dxi-column>
          <dxi-column dataField="HirDate" caption="Date Of Transaction" dataType="date" [width]="200"></dxi-column>
          <dxo-load-panel
          [enabled]="true">
      </dxo-load-panel>
      </dx-data-grid><br> -->
                    <!-- <dx-data-grid #grid id="gridContainer" [dataSource]="dataSource" 
                    
                    [allowColumnReordering]="true"
                        [showBorders]="true" [highlightChanges]="true" [columnAutoWidth]="true"
                        [repaintChangesOnly]="true"
                        >
                        <dxo-search-panel [visible]="true" placeholder="Search..."></dxo-search-panel>
                        <dxo-selection mode="multiple">
                        </dxo-selection>
                        <dxi-column dataField="eAASTHIResponse.ownerdetails.owner.ownername" caption="OwnerName" alignment="center"
                        [allowEditing]="false" [width]="100"></dxi-column>
                        <dxi-column dataField="owneraddress" caption="Owner Address" alignment="center" [width]="110" [allowEditing]="false">
                        </dxi-column>
                        <dxi-column dataField="address" alignment="center" caption="Property Address" [width]="250"
                            [allowEditing]="false">
                        </dxi-column>
                        <dxi-column dataField="districtname" [allowEditing]="false" alignment="center" caption="Aasthi Location" [width]="135">
                        </dxi-column>
                        

                        <dxi-column dataField="propertyid" caption="PropertyId"
                            [allowEditing]="false" alignment="center" [width]="100"></dxi-column>

                        <dxi-column dataField="propertytype" alignment="center" [allowEditing]="false" caption="PropertyType" [width]="100" dataType="date">
                        </dxi-column>

                        <dxi-column dataField="streetname" [allowEditing]="false" alignment="center" caption="StreetName"
                             [width]="150"></dxi-column>

                        <dxi-column dataField="wardnumber" [allowEditing]="false" alignment="center" caption="WardNUmber"
                             [width]="50" dataType="boolean"></dxi-column>
                            <dxi-column dataField="exceptionmessage" [allowEditing]="false" caption="Exception" alignment="center"
                            [width]="200"></dxi-column>
                             <dxo-load-panel
                             [enabled]="true">
                         </dxo-load-panel>
                        <dxo-paging [pageSize]="33"></dxo-paging>
                        <dxo-group-panel [visible]="false"></dxo-group-panel>
                        <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                    </dx-data-grid> -->
                    
                  </div>
            </div>
        </div>
    </div>
    <!-- <div style="margin-top: -9px;margin-left: -63px;/* margin-right: -35px; */">
      <dx-data-grid #grid
                    id="grid-container"
                    [dataSource]="eaasthidata"
                    [showBorders]="true"> 
                    <dxi-column dataField="sno" alignment="center" caption="S.No." [width]="50"></dxi-column>
                    <dxi-column dataField="propertyid" alignment="center" caption="Property ID" [width]="200"></dxi-column>
                    <dxi-column dataField="propertydescription" alignment="center" caption="Property Description"  [width]="315"></dxi-column>
                    <dxi-column dataField="buyername" alignment="center" caption="Buyer Name" [width]="180"></dxi-column>
                    <dxi-column dataField="ownername" alignment="center" caption="Seller Name" [width]="180"></dxi-column>
                    <dxi-column dataField="dateoftransaction" alignment="center" caption="Date Of Transaction" [width]="200"></dxi-column>
                    <dxi-column dataField="" alignment="center" cellTemplate="cellTemplate" caption="Select this Property" [width]="150"></dxi-column>
                    <div *dxTemplate="let data of 'cellTemplate'">
                      <div class="dx-field">
                        <div class="dx-field-label">Checked</div>
                        <div class="dx-field-value">
                            <dx-check-box [value]="false" alignment="center"></dx-check-box>
                             <dx-check-box [(value)]="indeterminateValue"></dx-check-box>
                        </div>
                    </div>
                  </div>
                    <dxo-load-panel
                    [enabled]="true">
                </dxo-load-panel>
                </dx-data-grid><br>
    </div> -->
    <div class="row" style="margin-left: -80px;">

      <dx-data-grid #grid id="grid-container" [dataSource]="eaasthidata" [showBorders]="true">
        <!-- <dxo-selection
      mode="multiple">
  </dxo-selection> -->
        <dxi-column dataField="" caption="Results-" [groupIndex]="0" [width]="180"></dxi-column>
        <dxi-column dataField="sno" alignment="center" caption="S.No." [width]="50"></dxi-column>
        <dxi-column dataField="propertyid" alignment="center" caption="Property ID." [width]="200"></dxi-column>
        <dxi-column dataField="propertydescription" alignment="center" caption="Property Description" [width]="200"></dxi-column>
        <dxi-column dataField="buyername" alignment="center" caption="Buyer Name" [width]="300"></dxi-column>
        <dxi-column dataField="ownername" alignment="center" caption="Seller Name" [width]="300"></dxi-column>
        <dxi-column dataField="dateoftransaction" alignment="center" caption="Date Of Transaction" [width]="300"></dxi-column>
        <div *dxTemplate="let data of 'cellTemplate'">
          <div class="dx-field">
            <div class="dx-field-label">Checked</div>
            <div class="dx-field-value">
                <dx-check-box [value]="false" alignment="center"></dx-check-box>
                 <!-- <dx-check-box [(value)]="indeterminateValue"></dx-check-box> -->
            </div>
        </div>
      </div>

        <dxo-load-panel [enabled]="true">
        </dxo-load-panel>

      </dx-data-grid><br>

    </div>
    <div class="container-fluid" style="margin-bottom: -5px;" *ngFor="let item of propertyLength;index as i">
      <div class="row">
        <div class="col-md-4">PROPERTY NUMBER TYPE
          <div>
              <select type="text" name="article" class="form-control" formControlName="propertyNumber"  (change)="onProperNumberTypeChange($event,i)"
            required [ngClass]="{ 'is-invalid': submitted && f.article.errors }">
            <option disabled readonly>Select article</option>
            <option *ngFor="let d of propertyData" [value]="d.propertytypeid"> {{d.typeNameEnglish}}</option>
            </select>
            
            
          </div>
          
        </div>
        
        <div class="col-md-4">PRESENT PROPERTY NUMBERS DETAILS
          <div>
          <input type="text" name="presentProperty" (blur)="onKeyup($event,i)" class="form-control" placeholder="value">
          </div>
        </div>
        <div class="col-md-4"><br><button type="button" class="btn btn-primary" (click)="deleteRow(i)">Delete</button></div>
      </div><br>
      
    </div>
    <div style="color: #0a429b;font-weight: bold;" (click)="addMore()">+Add more details</div>
  <!--<div class="form-group col-sm-3" style="margin-left: -80px;" *ngIf="!item.selectedArticle">
    <select type="text" name="article" class="form-control" formControlName="article"  [(ngModel)]="item.stamparticlecode"  (change)="onarticleChange($event,i)"
required [ngClass]="{ 'is-invalid': submitted && f.article.errors }">
<option disabled readonly>Select article</option>
<option *ngFor="let d of articleList" [value]="d.stamparticlecode" [selected]="d.stamparticlecode == item.stamparticlecode"> {{d.articlenamee}}</option>
</select>
<div *ngIf="submitted && f.article.errors" class="invalid-feedback">
<div *ngIf="f.article.errors.required">article is required</div>
</div>
  </div>-->
    <div style="text-align: center;">
      <button type="button" class="btn btn-primary px-4" style="background-color: #0a429b;" (click)="showbhumiInfo()" >Select Property & Continue</button>
    </div><br><br><br>
    <div id="container">
      <dx-popup
      [width]="800"
      [height]="300"
      [dragEnabled]="false"
      [closeOnOutsideClick]="true"
      [showCloseButton]="false"
      container=".dx-viewport"
      [(visible)]="bhumipopupVisible">
     
     
      <dxo-position
              at="center"
              my="center"
              [of]="positionOf">
          </dxo-position>
          <div *dxTemplate="let data of 'content'">
              <div class="row">
                  <div class="col-md-4">
                      <br><br>
                      <img src="assets/img/avatars/yay.png">
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-7">
                      <br><br>
                      <img src="assets/img/avatars/yay!.png"><br><br>
                      <img src="assets/img/avatars/Kaveri Database.png"><br>
                      <div style="text-align: center;">
                       <dxo-load-panel
                       [enabled]="true">
                   </dxo-load-panel>
                   </div>
                  </div>
              </div>
          </div>
  </dx-popup>
</div>
      </div>
    </div>
  </main>

<app-footer  style="background-color: #34373d;z-index: 1020;height: 50px;border: 1px solid #34373d;">
  <div class="row" style="margin-left: 10px;">
    <div class="col-xs-2">
      <span></span>
    </div>
    <div class="col-xs-1">
      <span class="ftrs">Accessibility Statement&emsp;|</span>
    </div>
    <div class="col-xs-1">
      <span class="ftrs">&emsp;Terms & Conditions&emsp;|</span>
    </div>
    <div class="col-xs-1">
      <span class="ftrs">&emsp;Website Policies&emsp;|</span>
    </div>
    <div class="col-xs-1">
      <span class="ftrs">&emsp;Help&emsp;|</span>
    </div>
    <div class="col-xs-1">
      <span class="ftrs">&emsp;Feedback&emsp;|</span>
    </div>
    <div class="col-xs-1">
      <span class="ftrs">&emsp;Contact Us&emsp;|</span>
    </div>
    <div class="col-xs-1">
      <span class="ftrs">&emsp;Web Information Manager&emsp;|</span>
    </div>
    <div class="col-xs-1">
      <span class="ftrs">&emsp;FAQ&emsp;|</span>
    </div>
    <div class="col-xs-1">
      <span class="ftrs">&emsp;Sitemap&emsp;|</span>
    </div>
    <div class="col-xs-1">
      <span class="ftrs">&emsp;Visitors Analytics</span>
    </div>
    <!-- <div class="col-xs-1">
    </div> -->
  </div>
</app-footer>
<app-footer style="height: 50px;background-color: #fbfbfb;z-index: 1020;">
  <div class="row" style="margin-left: 10px;">
    <span style="color: black;">©2021, Department of Stamps and Registration, Karnataka</span>
  </div>
</app-footer>