

  .title-border {
    border-left: 5px solid #0a429b;
    opacity: 1;
    padding-left: 20px;
    font-size: 16px;
    color: #222;
    font-weight: bold;
  }
  #property-details {
    height: 33rem;
    overflow-y: scroll;
    margin-left: 30px;
    margin-right: 30px;
  }
  .sub-text {
    font-size: 13px;
    color: #000;
  }
  .step2 {
    margin-top: 60px;
  }
  .step1 {
    margin-bottom: 33px;
  }
  .step3 {
    margin-top: 33px;
  }
  .property-text {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-bottom: 40px;
  }
.table-lable p {
  color: #ffffff;
  opacity: 1;
  margin: 0;
  padding: 0 0 0 7px;
}
.table-lable {
  padding: 8px;
  background: var(--unnamed-color-0a429b) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-707070);
  background: #0a429b 0% 0% no-repeat padding-box;
  color: #ffffff;
  opacity: 1;
}
.table-bordered td {
  vertical-align: middle;
  text-align: center;
}
.table-bordered {
  min-width: 100%;
}
.text-padding {
  padding: 0 40px;
}
.font-black {
  color: #4E4E4E;
}