.modal-content {
    padding: 20px 25px;
}
.modal-header {
    border-bottom: 0 none;
    .modal-title {
        font-weight: bold; 
        border-left: 4px solid rgb(57, 81, 192);            
        padding-left: 5px;
    }
}
.modal-footer {
    border-top: 0 none;
}
.modal-body {
    i {
        color: #10B769;
        font-size: 2.5rem;
        margin-bottom: 25px;
        margin-top: 28px;
    }
    padding: 1.5rem;
}
.buttons button{
    font-size: 12px;
}
.buttons{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.success-icon {
    height: 55px;
    margin: 30px 0px 25px 0px;
}