<div class="modal-body p-0">
    <div class="row">
        <div class="col-sm text-center">
            <img src="assets/success_icon.svg" class="success-icon"/>
            <h4><b>All the documents have been successfully uploaded</b></h4>
            <p>Document number : <b>GAN-1-01458-2021-22</b></p>
            <p><b>Continue printing Acknowledgement Slip</b></p>
        </div>
    </div>
    <div class="row buttons">
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-primary mr-4"> Preview Acknowledgement Slip</button>
            <button type="button" class="btn btn-outline-primary" (click)="modalService.hide()"> Close</button>
        </div>
    </div>
</div>