
                              .Now-lets-enter-the-party-details {
                                width: 10px;
                                height: 10  px;
                                margin: 30px 0 0 16px;
                                object-fit: contain;
                                -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
                                font-family: "Segoe UI";
                                font-size: 26px;
                                font-weight: bold;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 0.67;
                                letter-spacing: normal;
                                text-align: left;
                                color: #222;
                                align-items: center;
                              }
                            //  .text-box {
                            //   display: block;
                            //   width: 109%;
                            //   height: 50;
                            //   padding: 0.375rem 0.75rem;
                            //   font-size: 0.875rem;
                            //   font-weight: 400;
                            //   line-height: 1.5;
                            //   color: #000;;
                            //   background-color: #f2f2f2;
                            //   background-clip: padding-box;
                            //   border: solid 2px #000;
                            //   border-radius: 0.25rem;
                            //   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                            // }
                            // .text-area {
                            //   display: block;
                            //   width: 100%;
                            //   height: 75px;
                            //   padding: 0.375rem 0.75rem;
                            //   font-size: 0.875rem;
                            //   font-weight: 400;
                            //   line-height: 1.5;
                            //   color: #000;;
                            //   background-color: #f2f2f2;
                            //   background-clip: padding-box;
                            //   border: solid 2px #000;
                            //   border-radius: 0.25rem;
                            //   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                            // }
                            img.Lets-enter-the-property-schedule {
                              width: 549px;
                              height: 48px;
                              margin: 40px 304px 45px 60px;
                              object-fit: contain;
                              -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
                              font-family: SegoeUI;
                              font-size: 36px;
                              font-weight: bold;
                              font-stretch: normal;
                              font-style: normal;
                              line-height: 0.67;
                              letter-spacing: normal;
                              text-align: left;
                              color: #222;
                            }
                            img.boundaries {
                              width: 115px;
                              height: 24px;
                              margin: 64px 365px 40px 0;
                              object-fit: contain;
                              font-family: SegoeUI;
                              font-size: 18px;
                              font-weight: bold;
                              font-stretch: normal;
                              font-style: normal;
                              line-height: 0.89;
                              letter-spacing: normal;
                              text-align: left;
                              color: #4e4e4e;
                            }