.outer-box-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    .outer-box {
      background-color: #fff;
      box-shadow: 0px 3px 6px #00000029;
      border: 1px solid #e1e1e1;
      border-radius: 10px;
      opacity: 1;
      width: 570px;
      &-padding {
        padding: 20px 50px 30px;
      }
    }
}
.p-btn {
    color: #0a429b;
    padding: 8px 24px;
    background-color: #fff;
    border: 1px solid #0a429b;
    border-radius: 5px;
    margin-left: 60px;
}
.s-btn {
    background-color: #0a429b;
    color: #fff;
    padding: 8px 24px;
    border-radius: 5px;
}