.mat-row {
    min-height: 47px;
  }
  .Enter-the-Received-OTP-to-Continue-the-Login-process {
    width: 310px;
    height: 51px;
    font-family: SegoeUI;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .mat-column-snum {
    flex: 0 0 15%;
  }
  .icon-next .carousel-control-next-icon{
    background-color: #000;
  }
  .right .carousel-control .carousel-control-next{
    background-color: #000 !important;
  }