.schedule-actions {
    display: flex;
    justify-content: center;
    margin: 40px 0 0;
    .p-btn {
      color: #0a429b;
      padding: 8px 24px;
      background-color: #fff;
      border: 1px solid #0a429b;
      border-radius: 5px;
      margin-left: 60px;
    }
    .s-btn {
      background-color: #0a429b;
      color: #fff;
      padding: 8px 24px;
      border-radius: 5px;
    }
  }
  
  ::ng-deep {
    .mat-step-text-label {
      text-overflow: initial !important;
      overflow: visible !important;
      white-space: pre-wrap;
      word-break: break-word;
      // width: 60px;
      font-size: 12px !important;
    }
    .mat-step-icon .mat-icon {
      font-size: 22px !important;
      width: 22px !important;
      height: 22px !important;
      color: #777777 !important;
    }
    .mat-step-icon {
      background-color: #fff !important;
      border: 2px solid #c5c5c5 !important;
      padding: 16px !important;
    }
    .mat-step-header .mat-step-icon-selected {
      border: 2px solid #5cb85c !important;
      background-color: #fff !important;
      padding: 14px;
    }
    .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
      padding: 18px 24px 0 !important;
    }
  }
  

  .propert-layout {
    margin-top: 120px;
  }
  .welcome-panel {
    background: #5e85c2 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    opacity: 1;
    padding: 13px 32px;
    margin-bottom: 26px;
    color: white;
    display: flex;
    .grey-circle {
      width: 48px;
      height: 48px;
      border: 1px solid #707070;
      background: #dfdfdf 0% 0% no-repeat padding-box;
      border: 1px solid #707070;
      border-radius: 24px;
      opacity: 1;
      margin-right: 17px;
    }
    .welcome-container {
      padding-right: 40px;
      margin-right: 40px;
      border-right: 1px solid #fff;
    }
    .welcome-text {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    .fda {
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 0;
    }
  }
  .stepper-panel {
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border: 1px solid #e1e1e1;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 14px;
  }
  
  .outer-box-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    .outer-box {
      background-color: #fff;
      box-shadow: 0px 3px 6px #00000029;
      border: 1px solid #e1e1e1;
      border-radius: 10px;
      opacity: 1;
      width: 570px;
      &-padding {
        padding: 20px 50px 30px;
      }
    }
  }
  .document-text-panel {
    padding: 40px 0;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
  }
  textarea {
    background-color: #fff;
    border-color: #0A429B;
  }

:host ::ng-deep .last-edited-step-1 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(1)::after,
:host ::ng-deep .last-edited-step-1 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3)::before,
:host ::ng-deep .last-edited-step-2 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(1)::after,
:host ::ng-deep .last-edited-step-2 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3)::before,
:host ::ng-deep .last-edited-step-2 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3)::after,
:host ::ng-deep .last-edited-step-2 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5)::before,
:host ::ng-deep .last-edited-step-3 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(1)::after,
:host ::ng-deep .last-edited-step-3 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3)::before,
:host ::ng-deep .last-edited-step-3 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3)::after,
:host ::ng-deep .last-edited-step-3 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5)::before,
:host ::ng-deep .last-edited-step-3 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5)::after,
:host ::ng-deep .last-edited-step-3 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(7)::before,
:host ::ng-deep .last-edited-step-4 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(1)::after,
:host ::ng-deep .last-edited-step-4 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3)::before,
:host ::ng-deep .last-edited-step-4 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3)::after,
:host ::ng-deep .last-edited-step-4 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5)::before,
:host ::ng-deep .last-edited-step-4 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5)::after,
:host ::ng-deep .last-edited-step-4 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(7)::before,
:host ::ng-deep .last-edited-step-4 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(7)::after,
:host ::ng-deep .last-edited-step-4 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(9)::before,
:host ::ng-deep .last-edited-step-5 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(1)::after,
:host ::ng-deep .last-edited-step-5 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3)::before,
:host ::ng-deep .last-edited-step-5 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3)::after,
:host ::ng-deep .last-edited-step-5 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5)::before,
:host ::ng-deep .last-edited-step-5 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5)::after,
:host ::ng-deep .last-edited-step-5 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(7)::before,
:host ::ng-deep .last-edited-step-5 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(7)::after,
:host ::ng-deep .last-edited-step-5 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(9)::before,
:host ::ng-deep .last-edited-step-5 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(9)::after,
:host ::ng-deep .last-edited-step-5 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(11)::before,

:host ::ng-deep .last-edited-step-6 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(1)::after,
:host ::ng-deep .last-edited-step-6 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3)::after,
:host ::ng-deep .last-edited-step-6 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3)::before,
:host ::ng-deep .last-edited-step-6 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5)::after,
:host ::ng-deep .last-edited-step-6 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5)::before,
:host ::ng-deep .last-edited-step-6 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(7)::after,
:host ::ng-deep .last-edited-step-6 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(7)::before,
:host ::ng-deep .last-edited-step-6 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(9)::after,
:host ::ng-deep .last-edited-step-6 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(9)::before,
:host ::ng-deep .last-edited-step-6 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(11)::after, 
:host ::ng-deep .last-edited-step-6 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(11)::before,
:host ::ng-deep .last-edited-step-6 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(13)::before,

:host ::ng-deep .last-edited-step-7 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(1)::after,
:host ::ng-deep .last-edited-step-7 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3)::after,
:host ::ng-deep .last-edited-step-7 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3)::before,
:host ::ng-deep .last-edited-step-7 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5)::after,
:host ::ng-deep .last-edited-step-7 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5)::before,
:host ::ng-deep .last-edited-step-7 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(7)::after,
:host ::ng-deep .last-edited-step-7 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(7)::before,
:host ::ng-deep .last-edited-step-7 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(9)::after,
:host ::ng-deep .last-edited-step-7 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(9)::before,
:host ::ng-deep .last-edited-step-7 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(11)::after, 
:host ::ng-deep .last-edited-step-7 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(11)::before,
:host ::ng-deep .last-edited-step-7 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(13)::after,
:host ::ng-deep .last-edited-step-7 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(13)::before,
:host ::ng-deep .last-edited-step-7 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(15)::before,

:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(1)::after,
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3)::after,
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3)::before,
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5)::after,
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5)::before,
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(7)::after,
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(7)::before,
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(9)::after,
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(9)::before,
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(11)::after, 
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(11)::before,
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(13)::after,
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(13)::before,
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(15)::after,
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(15)::before,
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(17)::before {
  border-top-color: #5cb85c !important;
  border-top-width: 2px !important;
  width: calc(50% - 18px);
}

:host ::ng-deep .last-edited-step-1 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(1) .mat-step-icon,
:host ::ng-deep .last-edited-step-1 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3) .mat-step-icon,

:host ::ng-deep .last-edited-step-2 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(1) .mat-step-icon,
:host ::ng-deep .last-edited-step-2 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3) .mat-step-icon,
:host ::ng-deep .last-edited-step-2 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5) .mat-step-icon,

:host ::ng-deep .last-edited-step-3 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(1) .mat-step-icon,
:host ::ng-deep .last-edited-step-3 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3) .mat-step-icon,
:host ::ng-deep .last-edited-step-3 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5) .mat-step-icon,
:host ::ng-deep .last-edited-step-3 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(7) .mat-step-icon,

:host ::ng-deep .last-edited-step-4 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(1) .mat-step-icon,
:host ::ng-deep .last-edited-step-4 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3) .mat-step-icon,
:host ::ng-deep .last-edited-step-4 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5) .mat-step-icon,
:host ::ng-deep .last-edited-step-4 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(7) .mat-step-icon,
:host ::ng-deep .last-edited-step-4 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(9) .mat-step-icon,

:host ::ng-deep .last-edited-step-5 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(1) .mat-step-icon,
:host ::ng-deep .last-edited-step-5 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3) .mat-step-icon,
:host ::ng-deep .last-edited-step-5 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5) .mat-step-icon,
:host ::ng-deep .last-edited-step-5 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(7) .mat-step-icon,
:host ::ng-deep .last-edited-step-5 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(9) .mat-step-icon,
:host ::ng-deep .last-edited-step-5 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(11) .mat-step-icon,

:host ::ng-deep .last-edited-step-6 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(1) .mat-step-icon,
:host ::ng-deep .last-edited-step-6 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3) .mat-step-icon,
:host ::ng-deep .last-edited-step-6 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5) .mat-step-icon,
:host ::ng-deep .last-edited-step-6 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(7) .mat-step-icon,
:host ::ng-deep .last-edited-step-6 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(9) .mat-step-icon,
:host ::ng-deep .last-edited-step-6 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(11) .mat-step-icon, 
:host ::ng-deep .last-edited-step-6 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(13) .mat-step-icon,

:host ::ng-deep .last-edited-step-7 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(1) .mat-step-icon,
:host ::ng-deep .last-edited-step-7 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3) .mat-step-icon,
:host ::ng-deep .last-edited-step-7 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5) .mat-step-icon,
:host ::ng-deep .last-edited-step-7 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(7) .mat-step-icon,

:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(1) .mat-step-icon,
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3) .mat-step-icon,
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5) .mat-step-icon,
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(7) .mat-step-icon,
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(9) .mat-step-icon,
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(11) .mat-step-icon, 
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(13) .mat-step-icon,
:host ::ng-deep .last-edited-step-8 .mat-horizontal-stepper-header-container .mat-step-header:nth-child(15) .mat-step-icon {
  border: 2px solid #5cb85c !important;
}

:host ::ng-deep .mat-horizontal-stepper-header-container .mat-step-header:nth-child(1)::after,
:host ::ng-deep .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3)::after,
:host ::ng-deep .mat-horizontal-stepper-header-container .mat-step-header:nth-child(3)::before,
:host ::ng-deep .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5)::after,
:host ::ng-deep .mat-horizontal-stepper-header-container .mat-step-header:nth-child(5)::before,
:host ::ng-deep .mat-horizontal-stepper-header-container .mat-step-header:nth-child(7)::after,
:host ::ng-deep .mat-horizontal-stepper-header-container .mat-step-header:nth-child(7)::before,
:host ::ng-deep .mat-horizontal-stepper-header-container .mat-step-header:nth-child(9)::after,
:host ::ng-deep .mat-horizontal-stepper-header-container .mat-step-header:nth-child(9)::before,
:host ::ng-deep .mat-horizontal-stepper-header-container .mat-step-header:nth-child(11)::after, 
:host ::ng-deep .mat-horizontal-stepper-header-container .mat-step-header:nth-child(11)::before,
:host ::ng-deep .mat-horizontal-stepper-header-container .mat-step-header:nth-child(13)::after,
:host ::ng-deep .mat-horizontal-stepper-header-container .mat-step-header:nth-child(13)::before,
:host ::ng-deep .mat-horizontal-stepper-header-container .mat-step-header:nth-child(15)::after,
:host ::ng-deep .mat-horizontal-stepper-header-container .mat-step-header:nth-child(15)::before,
:host ::ng-deep .mat-horizontal-stepper-header-container .mat-step-header:nth-child(17)::before {
  border-top-width: 2px !important;
  width: calc(50% - 18px);
}