<div class="modal-header m-0">
    <h4 class="modal-title">Document Viewer</h4>
    <button type="button" class="close" (click)="modalService.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-0">
    <div class="row">
        <div class="col-sm my-4">
            <div class="row px-4 d-flex">
                <div class="col-md-4" *ngFor="let img of scannedImages">
                    <img [src]="img['src'] | safehtml" style="border: 1px solid #ddd; padding:10px; width:100%">
                </div>
            </div>
        </div>
    </div>
    <div class="row buttons">
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-primary" (click)="modalService.hide()">Close</button>
        </div>
    </div>