.kaveriseardchpopup {
    width: 466px;
    height: 96px;
    margin: 0 0 57px 244px;
    object-fit: contain;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    font-family: "Segoe UI";
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #222;
  }