
  #property-schedule {
    height: 16rem;
    overflow-y: scroll;
    margin-right: 30px;
  }
  .title-border {
    border-left: 5px solid #0a429b;
    opacity: 1;
    padding-left: 20px;
    font-size: 16px;
    color: #222;
    font-weight: bold;
  }
  .sub-text {
    font-size: 13px;
    color: #000;
  }
  .step2 {
    margin-bottom: 33px;
    margin-top: 85px;
  }
  .step1 {
    margin-bottom: 33px;
  }
  .property-text,
  .boundary-text {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 30px;
  }
  .boundary-text {
    margin-top: 20px;
    font-size: 14px;
  }

.schedule-text {
  font-size: 14px;
  color: #4e4e4e;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 70%;
}

.text-padding {
  padding: 0 40px;
}