* {
    font-family: Segoe UI !important;
}
#valuation-fees {
  height: 38rem;
  overflow-y: scroll;
  margin-right: 30px;
  padding: 15px;
}
.title-border {
    border-left: 5px solid #0a429b;
    opacity: 1;
    padding-left: 20px;
    font-size: 16px;
    color: #222;
    font-weight: bold;
  }
.sub-text {
    font-size: 13px;
    color: #000;
  }
.step2 {
    margin-bottom: 33px;
    margin-top: 85px;
  }
.step1 {
    margin-bottom: 33px;
  }
.property-text,
  .boundary-text {
    font-size: 16px;
    font-weight: bold;
    color: #000;
  }
  .boundary-text {
    margin-top: 36px;
    font-size: 18px;
  }

.schedule-text {
  font-size: 18px;
  color: #4e4e4e;
  margin-top: 40px;
  width: 70%;
}

.text-padding {
  padding: 0 40px;
}

.td-value {
    color: #707070;
}
 .font-black {
     color: #4E4E4E;
 }
 .font-blue {
     color: #0A429B !important;
 }
 td {
    border: 1px solid #707070;
}